@using AudioAnalyzer.Models
@inject AudioAnalyzerService AudioAnalyzerService
@inject IWebHostEnvironment Environment
@inject UploadedFilesState UploadedFileState
@inject IJSRuntime JS
@inject ILogger<FileProcess> logger
@implements IDisposable



<button class="btn btn-primary" @onclick="ProcessSongs"
    disabled="@(isProcessing || !UploadedFileState.UploadedFiles.Any())">Process</button>
<button class="btn btn-secondary @(UploadedFileState.UploadedFiles.Any()?"visible":"invisible")"
    @onclick="OnClearCallback" disabled="@isProcessing">Clear
    Songs</button>

<div @ref="spinnerPlaceholder" style="position:relative"></div>
@if (isProcessing)
{
    <p>Please do not navigate away until processing has completed. It may be suspended if interrupted.</p>
}
<table class="table">
    <thead>
        <tr>
            <th scope="col">File</th>
            @foreach (var feature in typeof(Song).GetProperties())
            {
                if (AudioAnalyzerService.Songs.Any() && feature.GetValue(AudioAnalyzerService.Songs.First()) != null)
                {
                    <th scope="col">@feature.Name</th>
                }
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var song in AudioAnalyzerService.Songs)
        {

            <tr>
                <th scope="row">
                    @UploadedFileState.UploadedFiles.ElementAt(AudioAnalyzerService.Songs.IndexOf(song)).UnsafeFileName
                </th>
                @foreach (var feature in typeof(Song).GetProperties())
                {
                    var value = feature.GetValue(song);
                    if (value != null)
                    {
                        <td>@value</td>
                    }
                }
            </tr>
        }
    </tbody>
</table>

@code {
    [Parameter]
    public EventCallback<MouseEventArgs> OnClearCallback { get; set; }
    private bool isProcessing = false;
    private ElementReference spinnerPlaceholder;

    private CancellationTokenSource cts = new CancellationTokenSource();

    protected override void OnInitialized()
    {
        UploadedFileState.OnChange += StateHasChanged;
    }

    private async Task ProcessSongs()
    {
        isProcessing = true;
        try
        {
            await JS.InvokeVoidAsync("startSpinner", spinnerPlaceholder);
            await AudioAnalyzerService.ProcessFeaturesAsync(cts.Token);
            await JS.InvokeVoidAsync("stopSpinner", spinnerPlaceholder);
        }
        catch
        {
            logger.LogWarning("Exception has occurred during processing. The page was likely closed prematurely");
            isProcessing = false;
        }

        isProcessing = false;
    }



    public void Dispose()
    {

        UploadedFileState.OnChange -= StateHasChanged;
        // Triggered when user navigates away or closes browser/tab. Any processing still running is cancelled.
        cts.Cancel();
        cts.Dispose();
    }
}